.navbar {
  position: sticky !important;
  top: 0;
  background-color: var(--off-white);
  padding: 15px 0;
  z-index: 1000;
  border-bottom: 1px solid var(--dark-gray);
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: var(--dark-gray);
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar .nav-link:hover {
  color: var(--light-blue);
  cursor: pointer;
}
