body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--midnight-blue);
  color: var(--off-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}

:root {
  --dark-gray: #333333;
  --forest-green: #0d4812;
  --midnight-blue: #23233b;
  --off-white: #fffffe;
  --light-blue: #91afe6;
}
